<%# add navigation links to this file %>
<% if user_signed_in? && current_user.admin? %>
	<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      Administration
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
			<%= link_to 'Blogs', posts_path, class: 'dropdown-item' %>
			<br>
			<%= link_to 'Comments', comments_path, class: 'dropdown-item' %>
			<br>
			<%= link_to 'Categories', categories_path, class: 'dropdown-item' %>
      <div class="dropdown-divider"></div>
		  <%= link_to 'Users', users_path, class: 'dropdown-item' %>
    </div>
  </li>

<% end %>

<li><%= link_to 'About', pages_about_path, class: 'nav-item' %></li>
<li><%= link_to 'Contact', pages_contact_path, class: 'nav-item' %></li>

<% if user_signed_in? %>
  <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete', class: 'nav-item' %></li>
<% else %>
  <li><%= link_to 'Sign in', new_user_session_path, class: 'nav-item' %></li>
  <li><%= link_to 'Sign up', new_user_registration_path, class: 'nav-item' %></li>
<% end %>
